extends baseEmail

block content
  p Hi #{firstname},
  p Please click the button to verify this email.
  p (Website for this action not yet implememnted.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Verify Email
  p You can't log in before verifying this email.
